* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding-top: 50px;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    position: fixed;
    flex-shrink: 0;
    justify-content: space-between;
    color: #000000;
    height: 50px;
    padding: 10px;
    left: 0;
    right: 0;
    top: 0;
}

.nav-left {
    align-content: center;
}

.nav-right {
    justify-self: center;
    justify-content: center;
    align-content: center;

}

.menu-right {
    justify-self: center;
    justify-content: center;
    align-content: center;
    padding: 10px;

}



.nav-menu ul li {
    display: inline;
    margin: 0px 0px;
    padding: 5px;
}

.nav-menu ul li a {

    text-decoration: none;
    color: #000000;
    padding: 15px;
    border-radius: 10px;
}

.nav-menu ul li a:hover {

    text-decoration: none;
    color: #fff;
    padding: 15px;
    background-color: #6e78cc;
    border-radius: 10px;
    transition: 400ms ease;
}

.image-head {
    /* width:300px;
    height:200px;
    border:1px solid #ccc; */
    padding: 80px;
    display:flex;
    justify-content:center; /* horizontal */
    align-items:center;     /* vertical */
    

}

.image-head img {
    width: 100%;
}

.btn-outlined {
    color: #000000;
    background-color: #e6dcdc;
    border-radius: 15px;
    border: 1px solid;
    border-color: #92929200;
    padding: 10px;
}

.btn-outlined:hover {
    color: #000000;
    background-color: #cac3c3;
    border-radius: 15px;
    border: 1px solid;
    border-color: #92929200;
    padding: 10px;
}

.btn-outlined.active {
    color: #000000;
    background-color: #cac3c3;
    border-radius: 15px;
    border: 1px solid;
    border-color: #92929200;
    padding: 10px;
}

.arrow {
    border: solid currentColor;
    border-width: 0 1px 1px 0;
    margin: 2px 5px;
    display: inline-block;
    padding: 2px;
}

.right {
    transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
}

.dropdown-btn {
    max-width: fit-content;
}

.dropdown-item {

    border-radius: 4px;
    padding: 3px;
    background-color: #d3d3d3;
}

.dropdown-item ul {
    /* list-style: none; */
}

.dropdown-item a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
}

.dropdown-item a:hover {
    display: block;
    text-decoration: none;
    color: #000000;
    background-color: #8f8d8d;
    border-radius: 3px;
}

.hide {
    display: none;
}

.content-filter {
    padding: 20px 88px;
    display: flex;
    justify-content: space-between;
}

.cf-right {
    display: flex;
    gap: 5px;

    padding: 10px 2px;
}

.transparent {
    color: #000000;
    border-color: #000000;
    background-color: #00000000;
}


.content-data {
    padding: 20px;
    display: block;
}

.cd-item{
    
    width: 100%;
    display: flex;
    justify-content: center
}

.cd-item-product{
    padding : 20px;
}

.cd-item-product{
    padding : 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap:20px;
    width: 92%;
}

.cdi-card {
    padding: 10px;
    border-radius: 13px;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1);
}

.cdi-card:hover {
    padding: 10px;
    border-radius: 13px;
    box-shadow: 0 7px 14px rgba(2, 114, 162, 0.364);
    scale: 1.05;
    transition: 300ms ease;
}

.cdic-image{
    display: flex;
    justify-content: center;
    padding : 20px;
    min-height: 100px;
    height: 300px;
}

.cdic-image img{
    width: 300px;
}

.cdic-title{
    padding : 20px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.cdic-foot{
    display: flex;
    justify-content: space-between;
}

.cdic-author{
    padding : 20px;
    font-size: 14px;
    text-align: left;
}

.cdic-price{
    padding : 20px;
    font-size: 18px;
    text-align: right;
    font-weight: 600;
}

.cdic-button{
    display: block;
}

.cdic-button button{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border : 1px solid;
    font-weight: 600;
    background-color: #00000000;
}

.cdic-button button:hover{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border : 1px solid;
    font-weight: 600;
    color : #fff;
    background-color: #000000;
}

.split-detail {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.breadcrumb{
    display: block;
    width: 90%;
}

.detail-head {
    width: 90%;
}

.breadcrumb ul li{
    display: inline;
    color: #7e7e7e;
}

.breadcrumb ul li.active{
    display: inline;
    color: #181818;
}

.image-detail img{
    width: 40%;
}

